
<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2   d-flex justify-content-center align-items-center vh-100">
        
            <div class="glassbox " id="glassbox">
               
                <h2>pictionary</h2>
                <p>Join us now and play pictionary with your friends</p>
        <form (submit)="login()">
                <p id="errmsg">Invalid Username or Password</p>
                <input type="text" name="username" placeholder="username" [(ngModel)]="username" >
                <input type="password" name="password" placeholder="password" [(ngModel)]="password">
                <input type="submit" value="Sign In">
            </form>
                <h5>Don't have an account ? <a href="/signup" >Sign Up</a></h5>
            </div>  
            </div>
        </div>
    </div>
   
</div>
