<div class="bg">
    <div class="container">
        <h2 class="heading">Join a Server</h2>
        <p class="para">select an available server and play with others</p>
        <div class="roomdiv">
            <div class="row">
                <div class="col-8">
                    <h5 class="roomname">Server 1</h5>
                </div>
                <div class="col-2">
                    <span class="userspan"><span class="userno">4</span> / 5 </span>
                </div>
                <div class="col-2">
                    <button class="joinbtn" (click)="join('ib3jh941')">Join</button>
                </div>
            </div>
            
        </div>
        <div class="roomdiv">
            <div class="row">
                <div class="col-8">
                    <h5 class="roomname">Server 2</h5>
                </div>
                <div class="col-2">
                    <span class="userspan"><span class="userno">4</span> / 5 </span>
                </div>
                <div class="col-2">
                    <button class="joinbtn" (click)="join('4t6dm3xv')">Join</button>
                </div>
            </div>
            
        </div>
        <div class="roomdiv">
            <div class="row">
                <div class="col-8">
                    <h5 class="roomname">Server 3</h5>
                </div>
                <div class="col-2">
                    <span class="userspan"><span class="userno">4</span> / 5 </span>
                </div>
                <div class="col-2">
                    <button class="joinbtn" (click)="join('gt9ylvxw')">Join</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
