
<div class="container">
    <div class="tools-section">
      <div class="color-picker-container">
        Select Brush Color : &nbsp; 
        <input type="color" [value]="color" (change)="changeColor($event)">
      </div>
  
      <div class="brushsize-container">
        Select Brush Size : &nbsp; 
        <select [value]="size" (change)="changeSize($event)">
          <option> 5 </option>
          <option> 10 </option>
          <option> 15 </option>
          <option> 20 </option>
          <option> 25 </option>
          <option> 30 </option>
        </select>
      </div>
    </div>
  
    <!-- <div class="board-container">
      <app-board [color]="color" [size]="size"></app-board>
    </div>
  </div> -->