<div class="bg">
<h1 class="heading">Pictionary</h1>
<div class="container wordbox">
   <div class="row">
    <div class="col-1">
      <span class="time"><span><i class="fa-regular fa-hourglass"></i></span><span id="time"> </span><span> s</span> </span> 
    </div>
    <div class="col-2">
        <span class="round"><i class="fa-regular fa-circle-play"></i> <span id="round"></span><span>of 10</span> </span> 
      </div>
    <div class="col-9">
        <h4>Guess the word</h4>
        <h5 class="word" id="wordhidden" #wordhidden> </h5>
    </div>
   </div> 
    
</div>

<div class="container bottom">
    <div class="row">
    <div class="col-3">

        <p class="wait" id="wait">waiting for other players to start</p>
    
        <div class="rank" *ngFor="let user of connectedUsers">
            <div class="row">
                <div class="col-2 rankno">
                    #1
                </div>
                <div class="col-4 us">
                    <h4 class="uname">{{user.username}}</h4>
                    <h5 class="score">{{user.points}} pt</h5>
                </div>
                <div class="col-4">
                    <div class="userdp"></div>
                </div>
            </div>
        </div>

        <button class="leavebtn" id="leavebtn" (click)="leaveroom()">Leave Room</button>

        
    </div>

    <div class="col-6">
        
        <app-canvas>
           
        </app-canvas>
        
    </div>

    <div class="col-3" id="chatcontainer">
        <app-chat></app-chat>
        <!-- <div class="chatdrw">
            <div class="chatdiv">
                <span class="unm">Bhagya132<span class="dot">:</span></span>
                <span class="text">hello there</span>
            </div>
            
                <div class="chatdiv">
                    <span class="unm">Fagya1324<span class="dot">:</span></span>
                    <span class="text">hello dfsf there</span>
                </div>

            

           <input type="text" placeholder="Type your guess here ..." class="input"/>
        </div> -->
    </div>
</div>
</div>
</div>