<h1 class="heading">Pictionary</h1>
<div class="container wordbox">
   <div class="row">
    <div class="col-1">
      <span class="time"><i class="fa-regular fa-hourglass"></i> 60 s </span> 
    </div>
    <div class="col-2">
        <span class="round"><i class="fa-regular fa-circle-play"></i> 3 of 5</span> 
      </div>
    <div class="col-9">
        <h4>Guess the word</h4>
        <h5 class="word">_ _ _ _</h5>
    </div>
   </div> 
    
</div>

<div class="container bottom">
    <div class="row">
    <div class="col-3">
        <div class="rank">
            <div class="row">
                <div class="col-2 rankno">
                    1
                </div>
                <div class="col-4 us">
                    <h4 class="uname">Bhagya1024</h4>
                    <h5 class="score">450 pt</h5>
                </div>
                <div class="col-4">
                    <div class="userdp"></div>
                </div>
            </div>
        </div>
        <div class="rank">
            <div class="row">
                <div class="col-2 rankno">
                    1
                </div>
                <div class="col-4 us">
                    <h4 class="uname">Bhagya1024</h4>
                    <h5 class="score">450 pt</h5>
                </div>
                <div class="col-4">
                    <div class="userdp"></div>
                </div>
            </div>
        </div>
        <div class="rank">
            <div class="row">
                <div class="col-2 rankno">
                    1
                </div>
                <div class="col-4 us">
                    <h4 class="uname">Bhagya1024</h4>
                    <h5 class="score">450 pt</h5>
                </div>
                <div class="col-4">
                    <div class="userdp"></div>
                </div>
            </div>
        </div>
        <div class="rank">
            <div class="row">
                <div class="col-2 rankno">
                    1
                </div>
                <div class="col-4 us">
                    <h4 class="uname">Bhagya1024</h4>
                    <h5 class="score">450 pt</h5>
                </div>
                <div class="col-4">
                    <div class="userdp"></div>
                </div>
            </div>
        </div>
        <div class="rank">
            <div class="row">
                <div class="col-2 rankno">
                    1
                </div>
                <div class="col-4 us">
                    <h4 class="uname">Bhagya1024</h4>
                    <h5 class="score">450 pt</h5>
                </div>
                <div class="col-4">
                    <div class="userdp"></div>
                </div>
            </div>
        </div>
        <div class="rank">
            <div class="row">
                <div class="col-2 rankno">
                    1
                </div>
                <div class="col-4 us">
                    <h4 class="uname">Bhagya1024</h4>
                    <h5 class="score">450 pt</h5>
                </div>
                <div class="col-4">
                    <div class="userdp"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <canvas class="draw"></canvas>
    </div>

    <div class="col-3">
        <div class="chatdrw">
            <table class="chat1">
                <tr>
                    <td rowspan="2">
                        <div class="udp"></div>
                    </td>
                    <td rowspan="1">
                        <span class="unm">Bhagya1024</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="txt">To make a cell span </p>
                    </td>
                   
                </tr>
            </table>
            <table class="chat1">
                <tr>
                    <td rowspan="2">
                        <div class="udp"></div>
                    </td>
                    <td rowspan="1">
                        <span class="unm">Bhagya1024</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="txt">To make a cell span over multiple rows, use the rowspan attribute</p>
                    </td>
                   
                </tr>
            </table>
            

            <table class="chat2">
                <tr>
                    <td>
                        <p class="txt">To make a cell span  over multiple rows, use the rowspan attribute </p>
                    </td>
        
                    <td>
                        <div class="udp"></div>
                    </td>
                </tr>
                
            </table>
           <input type="text" placeholder="Type your guess here ..." class="input"/>
        </div>
    </div>
</div>
</div>