<div class="bg">
<h1 class="heading">Pictionary</h1>
<div class="container wordbox">
   <div class="row">
    <div class="col-1">
      <span class="time"><span><i class="fa-regular fa-hourglass"></i></span><span id="time"> </span><span> s</span> </span> 
    </div>
    <div class="col-2">
        <span class="round"><i class="fa-regular fa-circle-play"></i> <span id="round"></span><span>of 10</span> </span> 
      </div>
    <div class="col-9">
        <h4>Guess the word</h4>
        <h5 class="word" id="wordhidden" #wordhidden></h5>
    </div>
   </div> 
    
</div>

<div class="container bottom">
    <div class="row">
    <div class="col-3">
        <div class="rank">
            <div class="row">
                <div class="col-2 rankno">
                    1
                </div>
                <div class="col-4 us">
                    <h4 class="uname">Bhagya1024</h4>
                    <h5 class="score">450 pt</h5>
                </div>
                <div class="col-4">
                    <div class="userdp"></div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-6">
        <app-canvas></app-canvas>
        
    </div>

    <div class="col-3" id="chatcontainer">
        <app-chat></app-chat>
        <!-- <div class="chatdrw">
            <div class="chatdiv">
                <span class="unm">Bhagya132<span class="dot">:</span></span>
                <span class="text">hello there</span>
            </div>
            
                <div class="chatdiv">
                    <span class="unm">Fagya1324<span class="dot">:</span></span>
                    <span class="text">hello dfsf there</span>
                </div>

            

           <input type="text" placeholder="Type your guess here ..." class="input"/>
        </div> -->
    </div>
</div>
</div>
</div>