.bg
{
    
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url('../../assets/images/bg1.jpg');
    width: 100%;
    height: 100vh;
    padding-top: 40px;
}

.fa-hourglass
{
    margin-right: 8px;
}
.heading
{
    font-family: 'poppins-s';
    font-size: 2vw;
    color: black;
    text-align: left;
    margin-left:100px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: lowercase;
}
.wordbox
{
    width: 100vw;
    height: 80px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    padding: 16px;
    transition: all .4s ease-in-out;
}

.wordbox h4
{
    font-family: 'poppins-m';
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
    margin: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-left: -80px;

}
.wordbox h5
{
    font-family: 'poppins-r';
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
    margin: auto;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-left: -80px;

}

.time
{
    font-family: 'poppins-r';
    font-size: 1vw;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    position: relative;
    top: 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: left;
}


.round
{
    font-family: 'poppins-r';
    font-size: 1vw;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    position: relative;
    top: 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: left;
}

.rankno
{
    font-family: 'poppins-m';
    font-size: 1vw;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
    padding-top: 10px;
    
}
.rank
{
    padding: 8px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 64px;
    border:1px dashed rgb(196, 196, 196);
    border-radius: 8px;
    margin-bottom: 8px;
    margin-left: -10px;
}

.uname
{
    font-family: 'poppins-m';
    font-size: 1vw;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-align: left;
    margin-top: 12px;
    
}
.score
{
    font-family: 'poppins-r';
    font-size: 1vw;
    color: rgb(85, 60, 196);
    text-transform: capitalize;
    text-align: center;
    margin-top: 6px;
    background-color: rgba(85, 60, 196, 0.151);
    border:1px solid rgba(85, 60, 196, 0.233);
    padding-top:6px;
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 20px;
}

.userdp
{
   
    border-radius: 500px;
    width:36px;
    height: 36px;
    background-image: url('../../../src/assets/images/dp.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    margin: auto;
    margin-top: 4px;
    margin-left: 40px;
    
}

.bottom
{
    margin-top: 20px;
    border-radius: 10px;
   
}

.draw
{
    border: 1px dashed rgb(196, 196, 196);
    width: 100%;
    height: 500px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.chatdrw
{
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border: 1px dashed rgb(196, 196, 196);
    border-radius: 8px;
    padding:4px;
    padding-top: 10px;
}
.chatdiv
{
    width: 100%;
    background-color: transparent;
    height: 24px;
    margin-left: 12px;
    margin-bottom: 4px;

}
.chatdiv .unm 
{
    font-size: 14px;
    font-family: 'poppins-s';

}
.chatdiv .text
{
    font-size: 14px;
    font-family: 'poppins-r';
    margin-left: 8px;

}
.chatdiv .dot 
{
    margin-left: 4px;

}
.input
{
    width: 278px;
    height: 40px;
    padding: 4px;
    border: 1px solid rgb(213, 213, 213);
    background-color: white;
    font-family: 'poppins-r';
    color: black;
    border-radius: 4px;
    position: fixed;
    bottom: 58px;
    margin-left: 2px;
    font-size: 1vw;
}

.input::placeholder
{
    font-family: 'poppins-r';
    font-size: 1vw;
    color: rgb(188, 188, 188);
}

.leavebtn
{
    width: 300px;
    height: 40px;
    background-color: rgb(196, 60, 60);
    border-radius: 4px;
    color: white;
    font-family: 'poppins-m';
    font-size: 1vw;
    position: fixed;
    bottom: 60px;
    border: 0;
    margin-left: -10px;
}

.wait
{
    width: 100%;
    height: 60px;
    background-color: rgba(85, 60, 196, 0.199);
    border:1px solid rgb(85, 60, 196);
    border-radius: 4px;
    color: rgb(85, 60, 196);
    font-family: 'poppins-r';
    font-size: 1vw;
    position: relative;
    padding: 16px;
    margin-left: -10px;
    text-align: center;
    display: none;
 


}

#round
{
    margin-left: 4px;
    margin-right: 4px;
}

.round-user{
    border:1px dashed rgb(85, 60, 196);
    background-color:rgb(248, 246, 255);
    
}

.roundend
{
    background-color: rgb(0, 0, 0);
}

.bigdiv
{
    width: 100%;
    height: 500px;
    background-color: white;
    border: 1px dashed rgb(196, 196, 196);
    border-radius: 8px;
    display: none;
}
.in
{
    width: 100%;
    height: 500px;

}
.winnerimg
{
    width: 80%;
    height:200px;
    background-image: url('../../assets/images/winners.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
   margin: auto;
   position: relative;
   top: 80px;
}

.incontainer
{
    margin-top: 80px;
}

.place
{
font-family: 'poppins-m';
font-size: 16px;
color: black;
margin-top: -20px;
text-align: center;
text-transform: lowercase;
}
#first
{
    margin-top: 20px;
}
.placeimg
{
    width: 120px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 0px;
    margin-left: 26px;
}
.placeh 
{
    background-color: rgba(85, 60, 196, 0);
    color: rgb(82, 82, 82);
    font-family: 'poppins-r';
    font-size: 16px;
    text-align: center;
    text-transform: lowercase;
    border-radius: 4px;
    margin-top: 100px;
}

.sec
{
background-image: url('../../assets/images/second.jpeg');
}
 .fir
{
    background-image: url('../../assets/images/first.jpeg');
    width: 140px;
    height: 190px;
    margin-top: 20px;
}
.thi
{
    background-image: url('../../assets/images/third.jpeg');
}

#first
{
    font-size: 24px;
    color: rgb(255, 169, 10);
    font-family: 'poppins-s';
}

.placepoints 
{
    
    background-color: rgba(85, 60, 196, 0);
    color: rgb(82, 82, 82);
    font-family: 'poppins-r';
    font-size: 16px;
    text-align: center;
    text-transform: lowercase;
    margin-top: -40px;
}

#firstpoints
{
    margin-top: 0;
    font-family: 'poppins-m';
    color: rgb(0, 0, 0);
}

.roomid
{
    width: 180px;
    height: 40px;
    background-color: rgba(85, 60, 196, 0.205);
    border: 1px solid rgb(85, 60, 196);
    color: rgb(85, 60, 196);;
    font-family: 'poppins-m';
    font-size: 16px;
    text-transform: lowercase;
    padding: 8px;
    position: fixed;
    top: 40px;
    right: 80px;
    border-radius: 4px;
    display: none;

}
.inroom
{
    padding-left: 30px;
}

.fa-copy
{
    margin-left: 18px;
}
/* #canvasapp
{
    cursor: not-allowed;
    pointer-events: none;
} */