<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2   d-flex justify-content-center align-items-center c1">

                
            <div class="glassbox ">
                <!-- <h5 class="username">Bhagya1024</h5>
                <div class="userdp"></div> -->
                <div class=" userrow offset-md-2   d-flex justify-content-center align-items-center">

                    <div class="userdp"></div> <h5 class="username" id="uname"></h5>
                    

                </div>
                
               
                
        
                <h1 class="he">Pictionary</h1>
                <h4>Join a game or create a private room</h4>
                
                <div class="row btn-row">
                    <div class="col-4">
                        <a class="join linkbtn">
                            <div class="btn1">
                                <i class="fa-solid fa-play"></i>
                        </div>
                        <h2 class="bh">Join Game</h2>
                                <p class="bp">Play with strangers</p>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="create linkbtn">
                            <div class="btn1">
                                <i class="fa-solid fa-plus"></i>   
                        </div>
                        <h2 class="bh">Create Room</h2>
                                <p class="bp">Invite friends to play</p>
                        </a>
                    </div>

                    <div class="col-4">
                        <a class="signout linkbtn">
                            <div class="btn1">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i> 
                        </div>
                        <h2 class="bh">Sign Out</h2>
                                <p class="bp">log out from account</p>
                        </a>
                    </div>

                </div> 
               
               
               
               
            </div>  
            </div>
        </div>
    </div>
</div>