

.bg
{
    
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url('../../assets/images/bg1.jpg');
    width: 100%;
    height: 100vh;
}



.userrow
{
    margin: auto;
    margin-bottom: 30px;
    width: 340px;
    height: 50px;
    border-radius: 8px;
    background-color:  rgba(0, 0, 0, 0.907);
    box-shadow: 0 4px 30px rgba(144, 144, 144, 0.1);
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px); 
}
.divinput{
    width: 100%;
    height: 200px;
    margin: auto;
}
.privateinput
{
    width: 90%;
    height: 45px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid rgb(212, 212, 212);
    background-color: rgba(242, 242, 242, 0.53);
    font-family: 'poppins-r';
    padding: 20px;
}

.privateinput::placeholder{
    color: rgb(149, 149, 149);
    font-family: 'poppins-r';
    font-size: 16px;
}
.joinprivatebtn
{
    width: 10%;
    height: 45px;
    border-radius:0px 8px 8px 0px; 
    border: 1px solid rgb(102, 143, 255);
    background-color:rgb(102, 143, 255) ;
    color: white;

}
.username
{
    font-family: 'poppins-m';
    font-size: 1vw;
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 10px;
    color: rgb(255, 255, 255);
    /* color: rgb(102, 143, 255); */

}

h1
{
    font-size: 3vw;
    font-family: 'poppins-s';
    color: black;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    
}
h4
{
    font-size: 1.1vw;
    font-family: 'poppins-r';
    color: black;
    margin-bottom: 40px;
    text-align: center;
}
a
{
    text-decoration: none;
}
.col-4
{
    width: 160px;
}
.btn1
{
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    padding: auto;
    margin-bottom: 20px;
    border:2px dashed rgb(196, 196, 196);
    
    
}

.btn-row i
{
    font-size: 2vw;
    text-align: center;
    color: rgb(102, 143, 255);
}

.bh 
{
    font-size: 1.2vw;
    font-family: 'poppins-m';
    color: black;
    text-align: center;
    /* width: 120px; */
}
.bp
{
    color: rgb(161, 161, 161);
    font-family: 'poppins-r';
    font-size: 1vw;
    text-align: center;
    /* width: 120px; */

}

.linkbtn
{
    margin-right: 40px;
}

.c1
{
    position: relative;
    top: 15vh;
    left: -2vh;
}



.btn1:hover
{
    border: 2px solid rgb(102, 143, 255);
    transition: all .4s ease-in-out;  
}

.invalid
{
    color: rgb(237, 66, 66);
    font-size: 16px;
    text-align: center;
    text-transform: lowercase;
    font-family: 'poppins-r';
    background-color: rgba(237, 66, 66, 0.129);
    border-radius: 4px;
    border: 1px dashed rgb(237, 66, 66);
    padding: 10px;
    display: none;

}